doctype 5
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(type="image/x-icon", rel="icon", href="/img/favicon32.ico")
    title= site.name + '后台管理'
    //- 根据 grunt build 之后的结果引入 css 文件
    each file in assets.css
      link(href="/css/#{file}", rel="stylesheet")
  body#app
    div(role="navigation").navbar.navbar-default.navbar-static-top
      div.container
        div.navbar-header
          button(type="button", data-toggle="collapse",
                 data-target=".navbar-collapse").navbar-toggle
            span.icon-bar
            span.icon-bar
            sapn.icon-bar
          a(href="/").navbar-brand.logo
            img(src="/img/logo.png", title="#{site.title}").img-responsive
        div.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li(class=(path === '/admin') ? "active" : "")
              a(href="/admin") DashBoard
            li(class=(path === '/admin/sections') ? "active" : "")
              a(href="/admin/sections") 节点组管理
            li(class=(path === '/admin/tags') ? "active" : "")
              a(href="/admin/tags") 节点管理
            li(class=(path === '/admin/users') ? "active" : "")
              a(href="/admin/users") 用户管理
            li(class=(path === '/admin/topics') ? "active" : "")
              a(href="/admin/topics") 话题管理
            li(class=(path === '/admin/wikis') ? "active" : "")
              a(href="/admin/wikis") Wiki 管理
            li: a(href="#{site.domain}") 前往社区
    div.container
      block container

    //- 根据 grunt build 之后的结果引入 js 文件
    each file in (assets.adminjs || assets.js)
      script(src="/js/#{file}")
    //- 设置 ajax 模式下的 csrf
    script(type="text/javascript").
      $.ajaxSetup({
        dataType: 'json'
      });
      $(document).ajaxSend(function(e, xhr) {
        xhr.setRequestHeader('X-CSRF-Token', '#{csrfToken}');
      });
    block script
    //- 初始化前端模块
    script(type="text/javascript").
      ;(function() {
        NC.loadModule({
          name: 'App',
          el: '#app',
          children: NC.moduleMapping
        }, function(module) {
          NC.app = module;
        });
      }());