extends ../layout
block main
  div#users-page.admin.panel
    div.heading
      h3 用户管理
    div.content
      table.pure-table.pure-table-striped
        thead
          tr
            th 用户名
            th 电子邮箱
            th 昵称
            th 状态
            th 是否信任用户
            th 话题数量
            th 粉丝数量
            th
        tbody
          each user in users
            tr
              td #{user.username}
              td #{user.email}
              td #{user.nickname}
              td
                if user.state.blocked
                  | 已锁定
                else if user.state.activated
                  | 已激活
              td #{user.verified ? "是" : "否"}
              td #{user.topicCount}
              td #{user.followerCount}
              td
                a(href="javascript:;",
                    title=user.verified ? "设置为非信任用户" : "设置为信任用户",
                    data-verified="#{user.verified}",
                    data-id="#{user._id}").verify-btn
                  i(class=user.verified ? "fa-level-down" : "fa-level-up").fa
                  | &#32;
                  small=user.verified ? "取消信任" : "信任"
                | &#32;|&#32;
                a(href="javascript:;",
                    title=user.state === constants.USER_STATE.BLOCKED ? "解除锁定该用户" : "锁定该用户",
                    data-id="#{user._id}",
                    data-locked="#{user.state}").block-btn
                  i(class=user.state  === constants.USER_STATE.BLOCKED ? "fa-unlock" : "fa-lock").fa
                  | &#32;
                  small=user.state  === constants.USER_STATE.BLOCKED ? "解除锁定" : "锁定"
    div.footer
      include ../../paginator
block script
  script(type="text/javascript").
    ND.moduleTree.push({
      name: 'UsersPage',
      el: '#users-page'
    });
