- var totalPage = Math.ceil(pagination.totalCount / pagination.pageSize)
- var pagesInRange = 3
- var pageset = [], i = l = 0, adjacentx2 = pagesInRange * 2
- if (totalPage > 1)
  - if (totalPage <= (1 + adjacentx2))
    - for (i = 1, l = totalPage; i <= l; i++)
      - pageset.push(i)
  - else
    - if (pagination.pageIndex <= (pagesInRange + 1))
      - for (i = 1, l = 2 + adjacentx2; i < l; i++)
        - pageset.push(i)
    - else if (totalPage - pagesInRange > pagination.pageIndex && pagination.pageIndex > pagesInRange)
      - for (i = pagination.pageIndex - pagesInRange; i < pagination.pageIndex + pagesInRange; i++)
        - pageset.push(i)
    - else
      - for (i = totalPage - adjacentx2; i <= totalPage; i++)
        - pageset.push(i)
ul.pagination.pagination-sm
  if totalPage > 1 && pagination.pageIndex > 1
    li: a(href="#{path}?pageIndex=#{pagination.pageIndex - 1}") &laquo;
  else
    li.disabled: span &laquo;

  if totalPage === 1
    li.active: span #{totalPage}

  if _.first(pageset) > 1
    li: a(href="#{path}?pageIndex=1") 1
    if _.first(pageset) - 1 > 1
      li: span.dashed ...

  each page in pageset
    if pagination.pageIndex === page
      li.active: span #{page}
    else
      li: a(href="#{path}?pageIndex=#{page}") #{page}

  if _.last(pageset) < totalPage
    if totalPage - _.last(pageset) > 1
      li: span.dashed ...
    li: a(href="#{path}?pageIndex=#{totalPage}") #{totalPage}

  if totalPage > 1 && pagination.pageIndex < totalPage
    li: a(href="#{path}?pageIndex=#{pagination.pageIndex + 1}") &raquo;
  else
    li.disabled: span &raquo;