extends ../layout
block main
  div#sections-page.admin.panel
    div.heading
      a(href="/admin/sections/create").pure-button.pure-button-primary.add-button 创建节点组
    div.content
      table.pure-table.pure-table-striped
        thead
          tr
            th 节点组名称
            th 节点组排序
            th 节点数量
            th
        tbody
          each section in sections
            tr
              td #{section.name}
              td #{section.sort}
              td #{section.tagCount}
              td
                a(href="/admin/sections/#{section._id}/edit")
                  i.fa.fa-pencil
                  small &#32;编辑
                | &#32;|&#32;
                a(href="javascript:;", data-id="#{section._id}")
                  i.fa.fa-trash-o
                  small &#32;删除
    div.footer
      include ../../paginator
block script
  script(type="text/javascript").
    ND.moduleTree.push({
      name: 'SectionsPage',
      el: '#sections-page'
    });
