extends ../layout
block container
  div.panel.panel-default
    div.panel-heading
      include ../../shared/breadcrumb
    table.table.table-bordered.table-striped
      thead
        tr
          th 节点组名称
          th 节点组排序
          th 节点数量
          th
      tbody
        each section in sections
          tr
            td #{section.name}
            td #{section.sort}
            td #{section.tagCount}
            td
              div.btn-group
                a(href="/admin/sections/#{section.name}/edit").btn.btn-default.btn-xs 编辑
                form(method='POST', action="/admin/sections/#{section.name}/remove").btn-group
                  input(type="hidden", name="_csrf", value="#{csrfToken}")
                  button(type="submit").btn.btn-danger.btn-xs 删除
    div.panel-footer
      include form