doctype 5
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(type="image/x-icon", rel="icon", href="/img/favicon32.ico")
    title= page.title
    link(href="/css/style.css", rel="stylesheet")
    script(src="/js/lib.js")
  body
    div#container-wrap
      div(role="navigation").navbar.navbar-default.navbar-static-top
        div.container
          div.navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
              span.icon-bar
              span.icon-bar
              sapn.icon-bar
            a(href="/").navbar-brand.logo
              img(src="/img/logo.png", title="Node.js 中文社区").img-responsive
          div.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.active: a(href="/") 社区
              li: a(href="/wiki") Wiki
              if isAuthenticated
                li: a(href="/user/#{user.username}") #{user.nickname}
                li: a(href="/setting") 设置
                li: a(href="javascript:;") 退出
              else
                li: a(href="/signup") 注册
                li: a(href="/signin") 登录
            div.col-sm-4.col-md-4.col-lg-4.pull-left
              form(role="search", method="GET", action="/search").navbar-form
                div.input-group
                  input(type="text", name="q", placeholder="搜索").form-control
                  div.input-group-btn
                    button(type="submit").btn.btn-default
                      i.glyphicon.glyphicon-search
      div.container
        if err && err.showInGlobal
          div(class="alert-#{err.level || 'danger'}").global-alert.alert.alert-dismissable
            button(type="button",data-dismiss="alert", aria-hidden="true").close &times;
            each error in err.errors
              p #{error.message}
        div.row
          div.col-md-9#main
            block content
          div.col-md-3#sidebar
            block sidebar
  footer
    div.container
      div.media
        div.pull-left
          img(src="/img/logo-light.png").media-object.img-responsive.logo
        div.media-body.content
          nav
            ul.list-inline
              li: a(href="#") 关于
              li.delimiter &#32;&#8226;&#32;
              li: a(href="#") FAQ
              li.delimiter &#32;&#8226;&#32;
              li: a(href="#") RSS
              li.delimiter &#32;&#8226;&#32;
              li: a(href="https://github.com/heroicyang/cnodeclub", terget="_blank") Github
          div.copyright
            p &copy; 2012 - 2013
            p 由开源社区系统
              a(href="https://github.com/heroicyang/cnodeclub", terget="_blank") CNodeClub
              | 强力驱动，版本: 0.0.1，欢迎贡献代码。
            p Powered by 
              a(href="http://expressjs.com/", target="_blank") Express
              | &amp;
              a(href="mongoosejs.com/", target="_blank") Mongoose