doctype 5
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(type="image/x-icon", rel="icon", href="/img/favicon32.ico")
    title= page.title
    link(href="/css/style.css", rel="stylesheet")
  body#app
    div#container-wrap
      div(role="navigation").navbar.navbar-default.navbar-static-top
        div.container
          div.navbar-header
            button(type="button", data-toggle="collapse",
                   data-target=".navbar-collapse").navbar-toggle
              span.icon-bar
              span.icon-bar
              sapn.icon-bar
            a(href="/").navbar-brand.logo
              img(src="/img/logo.png", title="Node.js 中文社区").img-responsive
          div.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li(class=(path === '/' || path === '/topics') ? "active" : "")
                a(href="/") 社区
              li: a(href="/wiki") Wiki
              if isAuthenticated
                li(class=(path === '/user/#{loggedUser.username}') ? "active" : "")
                  a(href="/user/#{loggedUser.username}") #{loggedUser.nickname}
                li(class=(path === '/settings') ? "active" : "")
                  a(href="/settings") 设置
                li: a(href="#")#logout 退出
              else
                li(class=(path === '/signup') ? "active" : "")
                  a(href="/signup") 注册
                li(class=(path === '/signin') ? "active" : "")
                  a(href="/signin") 登录
            div.col-sm-4.col-md-4.col-lg-4.pull-left
              form(role="search", method="GET", action="/search").navbar-form
                div.input-group
                  input(type="text", name="q", placeholder="搜索").form-control
                  div.input-group-btn
                    button(type="submit").btn.btn-default
                      i.fa.fa-search
      div.container
        if err && err.showInGlobal
          div(class="alert-#{err.level || 'danger'}").global-alert.alert.alert-dismissable
            button(type="button",data-dismiss="alert", aria-hidden="true").close &times;
            each error in err.errors
              p #{error.message}
        div.row
          div.col-md-9#main
            block content
          div.col-md-3#sidebar
            block sidebar
    footer
      div.container
        div.media
          div.pull-left
            img(src="/img/logo-light.png").media-object.img-responsive.logo
          div.media-body.content
            nav
              ul.list-inline
                li: a(href="#") 关于
                li.delimiter &#32;&#8226;&#32;
                li: a(href="#") FAQ
                li.delimiter &#32;&#8226;&#32;
                li: a(href="#") RSS
                li.delimiter &#32;&#8226;&#32;
                li: a(href="https://github.com/heroicyang/cnodeclub", terget="_blank") Github
            div.copyright
              p &copy; 2012 - 2013
              p 由开源社区系统
                a(href="https://github.com/heroicyang/cnodeclub", terget="_blank") CNodeClub
                | 强力驱动，版本: 0.0.1，欢迎贡献代码。
              p Powered by 
                a(href="http://expressjs.com/", target="_blank") Express
                | &amp;
                a(href="mongoosejs.com/", target="_blank") Mongoose
    
    //- 根据 grunt build 之后的结果引入 js 文件
    each file in assets.files
      script(src="/js/#{file}")
    //- 设置 ajax 模式下的 csrf
    script(type="text/javascript").
      $(document).ajaxSend(function(e, xhr) {
        xhr.setRequestHeader('X-CSRF-Token', '#{csrfToken}');
      });
    //- 如果用户已登录，则设置前端的用户对象
    if isAuthenticated
      script(type="text/javascript").
        NC.loggedUser.set(!{loggedUserJson});
    //- 继承 layout 模板的其它页面可以通过这个块来插入 js 代码
    block script
    //- 用自执行函数来初始化前端模块，因为里面还会用到一些临时变量，防止其污染全局
    script(type="text/javascript").
      ;(function() {
        var moduleChildren = [];
        if (typeof moduleMapping !== 'undefined') {
          if (!_.isArray(moduleMapping)) {
            moduleMapping = [moduleMapping];
          }
          moduleChildren = moduleMapping;
        }
        if (NC.loggedUser.isAuthenticated()) {
          moduleChildren.push({
            name: 'LogoutButton',
            el: '#logout'
          });
        }

        NC.loadModule({
          name: 'App',
          el: '#app',
          children: moduleChildren
        }, function(module) {
          NC.app = module;
        });
      }());
    //- 编辑器模板
    script(type="text/template", id="editor-wrap")
      div.panel.panel-default.editor
        div.panel-body
          ul.nav.nav-tabs
            li.active: a(href="#write", data-toggle="tab") 编辑
            li: a(href="#preview", data-toggle="tab") 预览
          div.tab-content
            div#write.tab-pane.fade.in.active
              div.toolbar.form-control
                button(type="button")#et-upload-pic.btn.btn-link.btn-xs
                  i.fa.fa-picture-o
                  | &#32;上传图片
                div#et-insert-code.btn-group.dropup
                  button(type="button",
                         data-toggle="dropdown").btn.btn-link.btn-xs.dropdown-toogle
                    i.fa.fa-code
                    | 插入代码
                  ul(role="menu").dropdown-menu.lang-menu
                    li: a(href="#").lang JavaScript
                    li: a(href="#").lang HTML
                    li: a(href="#").lang CSS
                    li: a(href="#").lang Shell/Bash
            div#preview.tab-pane.fade 这里是预览