doctype html
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="#{site.description}")
    each header in site.headers
      meta(name=header[0], content=header[1])
    link(type="image/x-icon", rel="icon", href="/img/favicon32.ico")
    title= site.title
    each file in assets.css
      link(href="#{staticDomain}/css/#{file}", rel="stylesheet")
  body#app
    div#container
      div(role="navigation")#header
        div.pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
          a(href="/").pure-menu-heading
            if site.logo
              img(src!="#{site.logo}", title="#{site.title}").img-responsive
            else
              h1 #{site.name}
          ul.nav
            li(class= path === '/' || path === '/topics' ? "pure-menu-selected" : "")
              a(href="/") 社区
            li(class= path === '/tags' ? "pure-menu-selected" : "")
              a(href="/tags") 节点
            li(class=(path.indexOf('/wiki') !== -1) ? "pure-menu-selected" : "")
              a(href="/wiki") Wiki
          button(type="button").nav-toggle
            span.icon-bar
            span.icon-bar
            span.icon-bar
          if isAuthenticated
            div.profile.logged
              - var notificationsTip = '没有未读提醒'
              if currentUser.unreadNotificationCount > 0
                - notificationsTip = '你有' + currentUser.unreadNotificationCount + '条未读提醒'
              a(href="/notifications", title="#{notificationsTip}").notification-indicator
                span.badge #{currentUser.unreadNotificationCount}
              span.info
                a(href="/user/#{currentUser.username}").gravatar
                  img(src!=gravatar(currentUser.emailHash)).img-responsive
                a(href="/user/#{currentUser.username}").username: strong #{currentUser.nickname}
                ul
                  li: a(href="/settings")
                    i.fa.fa-cog
                    | 设置
                  li: a(href="#", rel="nofollow").logout
                    i.fa.fa-sign-out
                    | 退出
          else
            div.profile.unlogin
              a(href="/signup") 注册
              | &#32;|&#32;
              a(href="/signin") 登录
          div.nav-collapse
            ul
              li(class= path === '/' || path === '/topics' ? "selected" : "")
                a(href="/") 社区
              li(class= path === '/tags' ? "selected" : "")
                a(href="/tags") 节点
              li(class=(path.indexOf('/wiki') !== -1) ? "selected" : "")
                a(href="/wiki") Wiki
              if isAuthenticated
                li(class=(path === '/user/#{currentUser.username}') ? "selected" : "")
                  a(href="/user/#{currentUser.username}") #{currentUser.nickname}
                li(class=(path === '/settings') ? "selected" : "")
                  a(href="/settings") 设置
                li: a(href="#", rel="nofollow").logout 退出
              else
                li(class=(path === '/signup') ? "selected" : "")
                  a(href="/signup") 注册
                li(class=(path === '/signin') ? "selected" : "")
                  a(href="/signin") 登录
      div#main
        if err && err.global
          div.alert-global
            ul
              each error in err.errors
                li(class=['alert', 'alert-' + (err.level || 'danger')]) #{error.message}
        block main
    div#footer
      ul.nav
        each nav, idx in site.footerNavs
          li
            if nav[2]
              a(href=nav[0], target="#{nav[2]}") #{nav[1]}
            else  
              a(href=nav[0]) #{nav[1]}
            if idx < site.footerNavs.length - 1
              span.divide /
      div.copyright
        p 
          | &copy; Copyright 2013 - 2014, 由开源社区系统&#32;
          a(href="#{pkg.homepage}", terget="_blank") #{pkg.title}
          | &#32;搭建，版本：#{pkg.version}
        p
          | Powered by&#32;
          a(href="http://expressjs.com/", target="_blank") express
          | &#32;&amp;&#32;
          a(href="http://mongoosejs.com/", target="_blank") mongoosejs
    
    //- 根据 grunt build 之后的结果引入 js 文件
    each file in assets.js
      script(src="#{staticDomain}/js/#{file}")
    //- 设置 ajax 模式下的 csrf
    script(type="text/javascript").
      $.ajaxSetup({
        dataType: 'json'
      });
      $(document).ajaxSend(function(e, xhr) {
        xhr.setRequestHeader('X-CSRF-Token', '#{csrfToken}');
      });
    //- 如果用户已登录，则设置前端的用户对象
    if isAuthenticated
      script(type="text/javascript").
        ND.currentUser.set(!{currentUserJson});
    //- 继承 layout 模板的其它页面可以通过这个块来插入 js 代码
    block script
    //- 初始化前端模块
    script(type="text/javascript").
      ;(function() {
        if (ND.currentUser.isAuthenticated()) {
          ND.moduleTree.push({
            name: 'LogoutButton',
            el: '.logout'
          });
        }

        ND.loadModule({
          name: 'App',
          el: '#app',
          children: ND.moduleTree.get()
        }, function(module) {
          ND.app = module;
        });
      }());
    //- 编辑器模板
    include tmpl/editor_wrap
    //- 全屏编辑器模板
    include tmpl/zenarea
    //- 前端警告框模板
    include tmpl/alert_danger
    //- 前端确认框模板
    include tmpl/confirm_dialog