extends layout
block content
  div#notification-list.panel.panel-default
    div.panel-heading
      button(type="button").btn.btn-default.btn-xs.pull-right 全部标记为已读
      include breadcrumb
    if notifications.length > 0
      ul.list-group
        each notification in notifications
          li.list-group-item
            div.media
              div.pull-left.avatar-32
                a(href="/user/#{notification.user.username}")
                  img(src!="#{notification.user.avatar}",
                      alt="#{notification.user.nickname}").media-object.img-rounded.img-responsive
              div.media-body
                if !notification.hasRead
                  div.pull-right.unread
                    i.fa.fa-flag
                div.media-heading.title
                  a(href="/user/#{notification.user.username}") #{notification.user.nickname}
                  case notification.type
                    when constants.NOTIFICATION_TYPE.COMMENT
                      | &#32;评论了你创建的话题&#32;
                      a(href="/topic/#{notification.topic._id}") #{notification.topic.title}
                    when constants.NOTIFICATION_TYPE.REPLY_COMMENT
                      | &#32;回复了你在&#32;
                      a(href="/topic/#{notification.topic._id}") #{notification.topic.title}
                      | &#32;中的评论
                    when constants.NOTIFICATION_TYPE.FOLLOW
                      | &#32;关注了你
                    when constants.NOTIFICATION_TYPE.AT
                      | &#32;在评论&#32;
                      a(href="/topic/#{notification.topic._id}") #{notification.topic.title}
                      | &#32;时提到了你
                if notification.type !== constants.NOTIFICATION_TYPE.FOLLOW
                  div.panel.panel-default.content
                    div.div.panel-body
                      if notification.comment.deleted
                        span 评论已被删除！
                      else
                        | !{notification.comment.contentHtml}
    else
      div.panel-body
        span 暂无提醒。
block sidebar
  include ./sidebar/user_card