div.media.cell
  div.pull-left.author-avatar
    a(href="/user/#{topic.author.username}")
      img(src!="#{topic.author.avatar}", alt="#{topic.author.nickname}").media-object.img-rounded.img-responsive
  div.media-body
    div.pull-right.comment-count
      a(href="#")
        span.badge #{topic.commentCount}
    div.info
      div.media-heading.title
          a(href="/topic/#{topic._id}") #{topic.title}
      p.meta
        a(href="/tag/#{topic.tag.name}").tag
          span.label.label-default #{topic.tag.name}
        | &#32;&#8226;&#32;
        a(href="/user/#{topic.author.username}").username #{topic.author.nickname}
        | &#32;&#8226;&#32;
        if topic.commentCount > 0 && topic.lastCommentUser
          | 最后由&#32;
          a(href="/user/#{topic.lastCommentUser.username}").username #{topic.lastCommentUser.nickname}
          | &#32;于
          span= moment(topic.lastCommentedAt).fromNow()
          | 评论
        else
          | &#32;发表于
          span= moment(topic.createdAt).fromNow()