extends layout
block content
  div#topic-list-panel.panel.panel-default
    div.panel-heading
      if tag
        div.pull-right.tag-head
          span 主题总数&#32;
            strong #{tag.topicCount}
          if isAuthenticated
            | &#32;&#8226;&#32;
            a(href="#") 收藏该节点
        include breadcrumb
        if isAuthenticated  
          div.row.tag-content
            div.col-xs-9.col-sm-11
              p #{tag.describe}
            div.col-xs-3.col-sm-1
              a(href="/topic/create").btn.btn-default.btn-xs.pull-right 发布话题
        else
          div.tag-content
            p #{tag.describe}
      else
        if isAuthenticated
          a(href="/topic/create").btn.btn-default.btn-xs.pull-right 发布话题
        include breadcrumb
    div.panel-body
      div.row.sorts
        div.pull-right
          span.fa.fa-sort-amount-desc
          a(href="#{path}",
            class=query.tab ? "" : "active").condition: span 默认
          a(href="#{path}?tab=excellent",
            class=(query.tab === 'excellent') ? "active" : "").condition: span 优质话题
          a(href="#{path}?tab=no_comment",
            class=(query.tab === 'no_comment') ? "active" : "").condition: span 无人回复
          a(href="#{path}?tab=latest",
            class=(query.tab === 'latest') ? "active" : "").condition: span 最新创建
        div.clearfix
    ul.list-group.topic-list
      for topic in topics
        li.list-group-item
          include topic_list_item
  include tags
block sidebar
  if isAuthenticated
    include ./sidebar/user_card
  else
    include ./sidebar/about
  include ./sidebar/top_tags
  include ./sidebar/related_site
  include ./sidebar/ad