extends layout
block content
  div#community-topics.panel.panel-default
    div.panel-heading
      if tag
        div.pull-right.tag-head
          span 主题总数&#32;
            strong #{tag.topicCount}
          if isAuthenticated
            | &#32;&#8226;&#32;
            if isFavorited
              a(href="#", title="取消收藏#{tag.name}节点")#favorite-tag-btn 取消收藏
            else
              a(href="#", title="收藏#{tag.name}节点")#favorite-tag-btn 收藏该节点
        include breadcrumb
        if isAuthenticated  
          div.row.tag-content
            div.col-xs-9.col-sm-10
              p #{tag.describe}
            div.col-xs-3.col-sm-2
              a(href="/topic/create?tag=#{tag.name}",
                title="发布新话题").btn.btn-default.btn-xs.pull-right 发布话题
        else
          div.tag-content
            p #{tag.describe}
      else
        if isAuthenticated
          a(href="/topic/create",
            title="发布新话题").btn.btn-default.btn-xs.pull-right 发布话题
        include breadcrumb
    div.panel-body
      div.row.sorts
        div.pull-right
          span.fa.fa-filter
          a(href="#{path}",
            class=filterType ? "" : "active").filter: span 默认
          a(href="#{path}/excellent",
            class=(filterType === 'excellent') ? "active" : "").filter: span 优质话题
          a(href="#{path}/no-comment",
            class=(filterType === 'no-comment') ? "active" : "").filter: span 无人回复
          a(href="#{path}/latest",
            class=(filterType === 'latest') ? "active" : "").filter: span 最新创建
        div.clearfix
    ul.list-group.topic-list
      each topic in topics
        li.list-group-item
          include topic_list_item
  include tag_nav
block sidebar
  if isAuthenticated
    include ./sidebar/user_card
  else
    include ./sidebar/about
  include ./sidebar/top_tags
  include ./sidebar/related_site
  include ./sidebar/ad
block script
  if tag
    script(type="text/javascript").
      var moduleMapping = {
        name: 'FavoriteTagButton',
        el: '#favorite-tag-btn',
        data: {
          id: '#{tag._id}',
          name: '#{tag.name}',
          isFavorited: #{isFavorited}
        }
      };