extends layout
block content
  div#profile-panel.panel.panel-default
    div.panel-body
      div.media
        div.pull-left.avatar-80
          a(href="/user/#{user.username}")
            img(src!="#{user.avatar}",
                alt="#{user.nickname}").media-object.img-rounded.img-responsive
        div.media-body
          if isAuthenticated && user.id !== currentUser.id
            if user.isFollowed
              button(type="button",
                     data-loading-text="取消关注...")#follow-btn.btn.btn-default.btn-sm.pull-right 取消关注
            else
              button(type="button",
                     data-loading-text="加入关注...")#follow-btn.btn.btn-default.btn-sm.pull-right 加入关注
          div.media-heading
            h3.nickname #{user.nickname}
            if user.tagline
              p #{user.tagline}
          div.extra-info
            p 
              i.fa.fa-clock-o
              | &#32;于&#32;
              span= moment(user.createdAt).format('YYYY-MM-DD HH:mm:ss')
              | &#32;加入CNode
            ul.list-inline
              li 关注 #{user.followingCount}
              li 粉丝 #{user.followerCount}
              li 积分 #{user.score || 0}
    
    ul.list-group
      if user.website || user.location || user.twitter || user.github
        li.list-group-item
          ul.list-unstyled.link
            if user.website
              li
                i.fa.fa-home
                a(href="#{user.website}", title="个人博客", target="_blank") #{user.website}
            if user.location
              li
                i.fa.fa-map-marker
                span #{user.location}
      if user.bio
        li.list-group-item #{user.bio}
        
  div.panel.panel-default
    div.panel-heading
      span #{user.nickname} 最近创建的话题
    ul.list-group.topic-list
      if user.topicCount > 0
        - var hiddenAvatar = true
        each topic in latestTopics
          li.list-group-item
            include topic_list_item
      else
        li.list-group-item: span 暂无话题。
    if user.topicCount > 0
      div.panel-footer
        a(href="/user/#{user.username}/topics")
          i.fa.fa-angle-double-right
          | &#32;查看更多#{user.nickname}创建的话题
  div.panel.panel-default
    div.panel-heading
      span #{user.nickname} 最近评论的话题
    if latestComments.length > 0
      ul.list-group.user-comment-list
        each comment in latestComments
          li.list-group-item
            div.describe.row
              div.comment-date.pull-right
                span= moment(comment.createdAt).fromNow()
              div.title
                if comment.topic.deleted
                  span 评论的该条话题已被删除。
                else
                  span 评论了 #{comment.topic.author.nickname} 创建的话题&#32;
                  i.fa.fa-angle-right
                  a(href="/topic/#{comment.topic._id}") &#32;#{comment.topic.title}
            div.content !{comment.contentHtml}
    else
      div.panel-body: span 暂无评论。
    if latestComments.length > 0
      div.panel-footer
        a(href="/user/#{user.username}/comments")
          i.fa.fa-angle-double-right
          | &#32;查看更多#{user.nickname}评论的话题
block sidebar
  div.panel.panel-default.hidden-xs
    div.panel-heading
      span #{user.nickname} 在 GitHub 上的代码仓库
    div.panel-body
      div 仓库列表
block script
  if isAuthenticated && user.id !== currentUser.id
    script(type="text/javascript").
      var moduleMapping = {
        name: 'FollowButton',
        el: '#follow-btn',
        data: {
          followUsername: '#{user.username}',
          followed: #{user.isFollowed}
        }
      };