div#user-card.panel.panel-default.hidden-xs
  div.panel-body
    div.media
      div.pull-left.avatar-48
        a(href="/user/#{currentUser.username}")
          img(src="#{currentUser.avatar}", alt="").media-object.img-rounded.img-responsive
      div.media-body
        div.media-heading
          a(href="/user/#{currentUser.username}").username #{currentUser.nickname}
        if currentUser.tagline
          p.tagline #{currentUser.tagline}
  ul.list-group
    li.list-group-item
      div.row.state
        div.col-xs-4.col-sm-4
          a(href="/favorite/tags")
            span: strong #{currentUser.favoriteTagCount}
            br
            span 节点收藏
        div.col-xs-4.col-sm-4
          a(href="/favorite/topics")
            span: strong #{currentUser.favoriteTopicCount}
            br
            span 话题收藏
        div.col-xs-4.col-sm-4
          a(href="/following")
            span: strong #{currentUser.followingCount}
            br
            span 关注
  div.panel-footer
    div.pull-right.score
      span(data-toggle="tooltip", title="积分")
        i.fa.fa-tint
        | &#32;#{currentUser.score || 0}
    a(href="/notifications").notification
      span.count.badge #{currentUser.unreadNotificationCount}
      span &#32;条未读提醒