div#user-card.panel.panel-default
  div.panel-body
    div.media
      div.pull-left.author-avatar
        a(href="/user/#{loggedUser.username}")
          img(src="#{loggedUser.avatar}", alt="").media-object.img-rounded.img-responsive
      div.media-body
        div.media-heading
          a(href="/user/#{loggedUser.username}").username #{loggedUser.nickname}
        p.tagline 测试个性签名...测试个性签名...测试个性签名...测试个性签名...
        if loggedUser.tagline
          p.tagline #{loggedUser.tagline}
  ul.list-group
    li.list-group-item
      div.row.state
        div.col-xs-4.col-sm-4
          div
            a(href="#"): strong #{loggedUser.favoriteTagCount}
          div 节点收藏
        div.col-xs-4.col-sm-4
          div
            a(href="#"): strong #{loggedUser.favoriteTopicCount}
          div 话题收藏
        div.col-xs-4.col-sm-4
          div
            a(href="#"): strong #{loggedUser.followingCount}
          div 关注
  div.panel-footer
    a(href="#").notification
      span.count.badge 10
      span &#32;条未读提醒
    div.pull-right.score
      span(data-toggle="tooltip", title="积分")
        i.fa.fa-tint
        | &#32;#{loggedUser.score || 0}