div#user-card.panel.panel-default
  div.panel-body
    div.media
      div.pull-left.author-avatar
        a(href="/user/#{user.username}")
          img(src="#{user.avatar}", alt="").media-object.img-rounded.img-responsive
      div.media-body
        div.media-heading
          a(href="/user/#{user.username}").username #{user.nickname}
        p.tagline 测试个性签名...测试个性签名...测试个性签名...测试个性签名...
        if user.tagline
          p.tagline #{user.tagline}
  ul.list-group
    li.list-group-item
      div.row.state
        div.col-xs-4.col-sm-4
          div
            a(href="#"): strong 40
          div 节点收藏
        div.col-xs-4.col-sm-4
          div
            a(href="#"): strong 20
          div 话题收藏
        div.col-xs-4.col-sm-4
          div
            a(href="#"): strong 50
          div 关注
  div.panel-footer
    a(href="#").meta
      span.notification-count.badge 10
      span &#32;条未读提醒
    div.pull-right
      span.glyphicon.glyphicon-tint
      a(href="#", title="积分").meta: span.score 10