extends ../layout
block main
  div#pages-page.admin.panel
    div.heading
      a(href="/admin/pages/create").pure-button.pure-button-primary.add-button 创建页面
      h3 页面管理
    div.content
      table.pure-table.pure-table-striped
        thead
          tr
            th 页面地址
            th 标题
            th 编辑者
            th 版本
            th 最后编辑时间
            th
        tbody
          each page in pages
            tr
              td #{page.slug}
              td #{page.title}
              td=_.pluck(page.authors, 'username').join(', ')
              td #{page.version}
              td=moment(page.updatedAt).format('YYYY-MM-DD HH:mm')
              td
                a(href="/admin/pages/#{page._id}/edit")
                  i.fa.fa-pencil
                  small &#32;编辑
                | &#32;|&#32;
                a(href="javascript:;", data-id="#{page._id}").remove-btn
                  i.fa.fa-trash-o
                  small &#32;删除
    div.footer
      include ../../paginator
block script
  script(type="text/javascript").
    ND.moduleTree.push({
      name: 'PagesPage',
      el: '#pages-page'
    });
