extends ../layout
block container
  div#topics-page.panel.panel-default
    div.panel-heading
      include ../../shared/breadcrumb
    table.table.table-bordered.table-striped
      thead
        tr
          th 标题
          th 所在节点
          th 作者
          th 评论数量
          th 优质话题
          th 发布时间
          th
      tbody
        each topic in topics
          tr
            td #{topic.title}
            td #{topic.tag.name}
            td #{topic.author.username}
            td #{topic.commentCount}
            td=topic.excellent ? "是" : "否"
            td=moment(topic.createdAt).format('YYYY-MM-DD HH:mm')
            td
              div.btn-group
                a(href="/admin/topics/#{topic._id}/edit").btn.btn-default.btn-xs
                  i.fa.fa-pencil
                  | &#32;编辑
                button(type="button",
                       title=topic.excellent ? "取消优质话题" : "设置为优质话题",
                       data-id="#{topic._id}",
                       data-excellent="#{topic.excellent}").excellent-btn.btn.btn-default.btn-xs
                  i(class=topic.excellent ? "fa-star" : "fa-star-o").fa
                  | &#32;
                  =topic.excellent ? "取消优质" : "设为优质"
                button(type="button",
                       data-id="#{topic._id}").remove-btn.btn.btn-danger.btn-xs
                  i.fa.fa-trash-o
                  | &#32;删除
    div.panel-footer
      include ../../shared/pagination
block script
  script(type="text/javascript").
    NC.moduleMapping.push({
      name: 'TopicsPage',
      el: '#topics-page'
    });