extends ../layout
block main
  div.admin.panel
    div.content
      - var url = '/admin/tags/create'
      if tag
        - url = '/admin/tags/' + tag.slug + '/edit'
      form(role="form",
           method="POST",
           action=url).pure-form.pure-form-aligned
        legend= tag ? '编辑节点' : '创建节点'
        if err && err.errors
          ul
            each error in err.errors
              li(class=['alert', 'alert-' + (err.level || 'danger')]) #{error.message}
        div.pure-control-group
          label(for="slug") 节点链接
          input(type="text",
                name="slug",
                value=tag ? tag.slug : "")#slug.pure-input-1-2
        div.pure-control-group
          label(for="name") 节点名称
          input(type="text",
                name="name",
                value=tag ? tag.name : "",
                required)#name.pure-input-1-2
        div.pure-control-group
          label(for="describe") 节点描述
          textarea(name="describe", rows="3")#describe.pure-input-1-2=tag ? tag.describe : ""
        div.pure-control-group
          label(for="section") 所属节点组
          select(name="section[id]", required)#section.pure-input-1-2
              option(value="") 请选择节点组
              each section in sections
                if tag && tag.section.id === section._id.toString()
                  option(value="#{section._id}", selected) #{section.name}
                else
                  option(value="#{section._id}") #{section.name}
        div.pure-controls
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          if tag
            input(type="hidden", name="id", value="#{tag._id}")
          button(type="submit").pure-button.pure-button-primary=tag ? '保存' : '创建'
