extends ../layout
block container
  div#tags-page.panel.panel-default
    div.panel-heading
      div.pull-right
        a(href="/admin/tags/create").btn.btn-default.btn-xs 创建节点
      include ../../shared/breadcrumb
    table.table.table-bordered
      thead
        tr
          th 节点链接
          th 节点名称
          th 节点描述
          th 所属节点组
          th 话题数量
          th 被收藏次数
          th
      tbody
        each tag in tags
          tr
            td #{tag.slug}
            td #{tag.name}
            td #{tag.describe}
            td #{tag.section.name}
            td #{tag.topicCount}
            td #{tag.favoriteCount}
            td
              div.btn-group
                a(href="/admin/tags/#{tag.slug}/edit").btn.btn-default.btn-xs
                  i.fa.fa-pencil
                  | &#32;编辑
                button(type="button",
                       data-id="#{tag._id}").remove-btn.btn.btn-danger.btn-xs
                  i.fa.fa-trash-o
                  | &#32;删除
    div.panel-footer
      include ../../shared/pagination
block script
  script(type="text/javascript").
    NC.moduleMapping.push({
      name: 'TagsPage',
      el: '#tags-page'
    });