extends ../layout
block main
  div#tags-page.admin.panel
    div.heading
      a(href="/admin/tags/create").pure-button.pure-button-primary.add-button 创建节点
      h3 节点管理
    div.content
      table.pure-table.pure-table-striped
        thead
          tr
            th slug
            th 名称
            th 描述
            th(width="105") 所属节点组
            th(width="105") 话题数量
            th(width="105") 被收藏次数
            th(width="125")
        tbody
          each tag in tags
            tr
              td #{tag.slug}
              td #{tag.name}
              td #{tag.describe.substr(0, 50) + '...'}
              td #{tag.section.name}
              td #{tag.topicCount}
              td #{tag.favoriteCount}
              td
                a(href="/admin/tags/#{tag.slug}/edit")
                  i.fa.fa-pencil
                  small &#32;编辑
                | &#32;|&#32;
                a(href="javascript:;", data-id="#{tag._id}").remove-btn
                  i.fa.fa-trash-o
                  small &#32;删除
    div.footer
      include ../../paginator
block script
  script(type="text/javascript").
    ND.moduleTree.push({
      name: 'TagsPage',
      el: '#tags-page'
    });
