extends ../layout
block main
  article#page.panel
    div.heading
      h2 #{page.title}
    div.entry
      div.content !{page.contentHtml}
      div.meta
        span 本页贡献者:&#32;
          - var contributors = _.map(page.contributors, function(contributor) {
          -    return '<a href="/user/' + contributor.username + '">' + contributor.nickname + '</a>';
          -  }).join(', ')
          | !{contributors}
        | &#32;/ 最后更新于 #{moment(page.updatedAt).fromNow()}
        | &#32;/ 版本 v#{page.version} /&#32;
        a(href="#") #{page.commentCount} 条评论
      if isAuthenticated && (currentUser.verified || currentUser.isAdmin)
        div.action
          a(href="/#{page.slug}/edit").edit-button.pure-button.pure-button-xsmall 编辑