extends ../container
block content
  div#page-panel.panel.panel-default.page-show
    div.panel-heading
      include ../shared/breadcrumb
    div.panel-body
      div.header
        div.media
          div.media-body
            div.media-heading.title
              h3 #{page.title}
            div.meta
              div.pull-right
                a(href="#") #{page.commentCount} 条评论
                span ，版本 #{page.version}，最后更新于&#32;
                span=moment(page.updatedAt).fromNow()
              div
                span 本页贡献者：&#32;
                  - var authors = _.map(page.authors, function(author) {
                  -    return '<a href="/user/"' + author.username + ' class="username">' + author.nickname + '</a>';
                  -  }).join(', ')
                  !{authors}
      div.row.content !{page.contentHtml}
    if isWiki
      div.panel-footer
        div.pull-left.share
          a(href="#", title="分享到新浪微博")
            i.fa.fa-weibo
          a(href="#", title="分享到Twitter")
            i.fa.fa-twitter
          a(href="#", title="分享到Facebook")
            i.fa.fa-facebook
          a(href="#", title="分享到Google+")
            i.fa.fa-google-plus
        
        if isAuthenticated && (currentUser.verified || currentUser.isAdmin)
          div.pull-right
            a(href="/#{page.slug}/edit", title="编辑 Wiki")
              i.fa.fa-pencil-square-o
        div.clearfix
block sidebar
  if isAuthenticated
    include ../sidebar/user_card
  else
    include ../sidebar/about
  include ../sidebar/related_site
  include ../sidebar/ad