extends ../layout
block main
  div.panel
    form(role="form",
         method="POST",
         action="/forgot")#forgot-pass-form.pure-form.pure-form-stacked
      fieldset
        legend 重置密码
        div.pure-control-group
          label(for="email").sr-only 电子邮箱
          input(type="email",
                name="email",
                value= user ? user.email : "",
                placeholder="电子邮箱地址",
                required)#email
        div.pure-controls
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          button(type="submit")#submit-button.pure-button.pure-button-primary 继续
          p: small 24 小时内，至多可以重新设置密码 2 次。