extends ../layout
block main
  div.panel
    form(role="form",
         method="POST",
         action="/reset")#reset-pass-form.pure-form.pure-form-stacked
      fieldset
        legend 设置新密码
        if err && err.errors
          div
            ul
              each error in err.errors
                li(class=['alert', 'alert-' + (err.level || 'danger')]) #{error.message}
        if message
          div.alert.alert-success: p #{message}
      div.pure-control-group
        label(for="new-password").sr-only 密码
        input(type="password",
              name="newPassword",
              placeholder="密码",
              required)#new-password
      div.pure-control-group
        label(for="new-password2").sr-only 确认新密码
        input(type="password",
              name="newPassword2",
              placeholder="再次输入密码",
              required)#new-password2
      div.pure-controls
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        input(type="hidden", name="token", value="#{token}")
        button(type="submit")#submit-button.pure-button.pure-button-primary 提交