extends ../layout
block main
  div#settings.panel
    form(role="form",
         method="POST",
         action="/settings/profile").pure-form.pure-form-aligned
      fieldset
        legend 个人信息
        div.pure-control-group
          label(for="username") 用户名
          input(type="text",
                name="username",
                value="#{currentUser.username}",
                disabled)#username
        div.pure-control-group
          label(for="email") 电子邮箱
          input(type="email",
                name="email",
                value="#{currentUser.email}",
                disabled)#email
        div.pure-control-group
          label(for="nickname") 昵称
          input(type="text",
                name="nickname",
                value="#{currentUser.nickname}")#nickname
        div.pure-control-group
          label(for="website") 个人网站
          input(type="text",
                name="website",
                value="#{currentUser.website || ''}")#website
        div.pure-control-group
          label(for="location") 所在地
          input(type="text",
                name="location",
                value="#{currentUser.location || ''}")#location
        div.pure-control-group
          label(for="tagline") 签名
          input(type="text",
                name="tagline",
                value="#{currentUser.tagline || ''}")#tagline
        div.pure-control-group
          label(for="bio") 个人简介
          textarea(name="bio", rows="6")#bio #{currentUser.bio || ''}
        div.pure-controls
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          button(type="submit").pure-button.pure-button-primary 保存设置
    form(role="form",
         method="POST",
         action="/settings/change_pass").pure-form.pure-form-aligned
      fieldset
        legend 更改密码
        div.pure-control-group
          label(for="old-password") 当前密码
          input(type="password",
               name="oldPassword")#old-password
        div.pure-control-group
          label(for="new-password") 新密码
          input(type="password",
               name="newPassword")#new-password
        div.pure-control-group
          label(for="new-password2") 确认新密码
          input(type="password",
               name="newPassword2")#new-password2
        div.pure-controls
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          button(type="submit").pure-button.pure-button-primary 更改密码