extends ../layout
block main
  div#sign.panel
    form(role="form", method="POST", action="/signin")#signin-form.pure-form.pure-form-stacked
      fieldset
        legend 登录
        div.pure-control-group
          label(for="email") 电子邮箱
          input(type="email",
                name="email",
                value= user ? user.email : "",
                placeholder="电子邮箱地址",
                required)#email
        div.pure-control-group
          label(for="password") 密码
          input(type="password",
                name="password",
                placeholder="登录密码",
                required)#password
        div.pure-controls
          label(for="remember").pure-checkbox
            input(type="checkbox", name="remember", checked)#remember
            | &#32;记住登录状态
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          button(type="submit")#signin-button.pure-button.pure-button-primary 登录
        div.pure-controls.go-forgot
          a(href="/forgot"): small 我忘记密码了？
block script
  script(type="text/javascript").
    ND.moduleTree.push({
      name: 'SigninForm',
      el: '#signin-form',
      children: [
        {
          name: 'ButtonBase',
          el: '#signin-button',
          id: 'signinButton'
        }
      ]
    });