extends ../layout
block main
  div#topic-form.panel
    - var url = '/topics/create'
    if topic
      - url = '/topics/' + topic._id + '/edit'
    form(role="form",
         method="POST",
         action="#{url}")#topic-edit-form.pure-form.pure-form-stacked
      legend= topic ? '编辑话题' : '发布新话题'
      if err && err.errors
        ul
          each error in err.errors
            li(class=['alert', 'alert-' + (err.level || 'danger')]) #{error.message}
      div.pure-control-group
        label(for="tag").sr-only 节点
        select(name="tag[id]", required)#tag
          option(value="") 请选择节点
          each tagList, sectionName in tags
            optgroup(label="#{sectionName}")
              each tag in tagList
                if currentTag && currentTag._id.toString() === tag._id.toString()
                  option(value="#{tag._id}", selected) #{tag.name}
                else if topic && topic.tag && topic.tag.id === tag._id.toString()
                  option(value="#{tag._id}", selected) #{tag.name}
                else
                  option(value="#{tag._id}") #{tag.name}
        span.help-block.validator.required 请选择话题节点！
      div.pure-control-group
        label(for="title").sr-only 标题
        input(type="text",
              name="title", 
              maxlength="100",
              placeholder="话题标题，100 个字符以内", 
              value=topic ? topic.title : "",
              required)#title
        span.help-block.validator.required 标题不能为空！
        span.help-block.validator.length 标题字数只能在 100 个字符以内。
      div.pure-control-group.content-editor
        label(for="content").sr-only 内容
        textarea(name="content",
                 rows="16",
                 placeholder="话题内容，可以为空")#content-editor
          | !{topic ? topic.content : ''}
      div.pure-controls
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        if topic
          input(type="hidden", name="id", value="#{topic._id}")
          a(href="/topics/#{topic._id}").pure-button 取消
        | &#32;
        button(type="submit")#submit-button.pure-button.pure-button-primary 发布
block script
  script(type="text/javascript").
    ND.moduleTree.push({
      name: 'TopicEditForm',
      el: '#topic-edit-form',
      children: [
        {
          name: 'ButtonBase',
          el: '#submit-button',
          id: 'submitTopicButton'
        }
      ]
    });