extends ../layout
block main
  div#topics.panel
    div.heading
      div.action
        ul.filter-nav
          li
            a(href="#") 默认
            span.divide |
          li
            a(href="#") 优质话题
            span.divide |
          li
            a(href="#") 无人回复
            span.divide |
          li
            a(href="#") 最新发布
        if isAuthenticated
          a(href="/topics/create").pure-button.pure-button-primary.add-button 发布话题
      if tag
        h3
          i.fa.fa-tag
          | #{tag.name}
          small.tag-favorite
            if isFavoritedTag
              a(href="javascript:;", title="取消收藏该节点") 取消收藏
            else
              a(href="javascript:;", title="收藏该节点") 收藏
            cite.tag-favorite-count (#{tag.topicCount})
    ul.topic-list
      each topic in topics
        li.item
          a(href="/user/#{topic.author.username}").gravatar
            img(src!=gravatar(topic.author.emailHash)).img-responsive
          div.title
            h4
              a(href="/topics/#{topic._id}") #{topic.title}
            small.meta
              a(href="/user/#{topic.author.username}") #{topic.author.nickname}
              | &#32;@ #{moment(topic.createdAt).fromNow()} /&#32;
              a(href="/tags/#{topic.tag.slug}") #{topic.tag.name}
              | &#32;/&#32;
              a(href="/topics/#{topic._id}#comment") 评论 (#{topic.commentCount})
    div.footer
      include ../shared/paginator

block script
  if tag
    script(type="text/javascript").
      ND.moduleTree.push({
        name: 'FavoriteTagButton',
        el: '#favorite-tag-btn',
        data: {
          name: '#{tag.name}',
          slug: '#{tag.slug}',
          isFavorited: #{isFavoritedTag}
        }
      });