extends ../layout
block main
  article#topic.panel
    div.heading
      h2 #{topic.title}
    div.entry
      div.content !{topic.contentHtml}
      div.meta
        span.gravatar
          img(src!=gravatar(topic.author.emailHash)).img-responsive
        | By&#32;
        a(href="/user/#{topic.author.username}") #{topic.author.nickname}
        | &#32;@ #{moment(topic.createdAt).format('YYYY-MM-DD HH:mm:ss')} /&#32;
        a(href="/tags/#{topic.tag.slug}") #{topic.tag.name}
      if isAuthenticated && topic.author.id === currentUser.id
        div.action
          a(href="/topics/#{topic._id}/edit").edit-button.pure-button.pure-button-xsmall 编辑
          a(href="javascript:;").delete-button.pure-button.pure-button-xsmall 删除
      div#comment
        form(role="form",
             method="POST",
             action="/comments/create")#comment-form.pure-form.pure-form-stacked
          fieldset
            legend 发表评论
            div.pure-control-group.comment-editor
              if isAuthenticated
                textarea(rows="3", name="content")
              else
                div.backdrop
                textarea(rows="3", name="content", placeholder="请登录后再发表评论", disabled)
            div.pure-control-group
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              input(type="hidden", name="topicId", value="#{topic._id}")
              if isAuthenticated
                button(type="submit")#comment-button.pure-button.pure-button-primary 发表
              else
                a(href="/signin").pure-button.pure-button-primary 登录后发表评论
      ul.comment-list
        each comment, idx in comments
          - var commentItemClasses = ['item']
          if idx % 2 === 0
            - commentItemClasses.push('odd')
          if comment.deleted
            - commentItemClasses.push('deleted')
          li(class=commentItemClasses)
            if comment.deleted
              div.content: del ##{comment.floor}楼评论已被删除。
            else
              div.meta
                a(href="/user/#{comment.author.username}").gravatar
                  img(src!=gravatar(comment.author.emailHash)).img-responsive
                a(href="/user/#{comment.author.username}") #{comment.author.nickname}
                span &#32;##{comment.floor}楼 @ #{moment(comment.createdAt).fromNow()}&#32;
                if isAuthenticated
                  if comment.author.id === currentUser.id
                    a(href="#",
                      title="删除",
                      data-id="#{comment._id}",
                      data-floor="#{comment.floor}").del-button: i.fa.fa-trash-o
                  else
                    a(href="#",
                      title="回复",
                      data-id="#{comment._id}",
                      data-floor="#{comment.floor}",
                      data-username="#{comment.author.username}").reply-button: i.fa.fa-reply
              div.content !{comment.contentHtml}
      div.footer
        include ../paginator
block script
  script(type="text/javascript").
    ND.moduleTree.push([
      {
        name: 'TopicPanel',
        el: '#topic-panel',
        data: {
          id: '#{topic._id}',
          isFavorited: #{isFavorited}
        },
        children: [
          {
            name: 'WeiboShareButton',
            el: '.weibo',
            options: {
              appkey: '#{site.weiboAppKey}'
            }
          },
          {
            name: 'TwitterShareButton',
            el: '.twitter'
          },
          {
            name: 'FacebookShareButton',
            el: '.facebook'
          },
          {
            name: 'GPlusShareButton',
            el: '.google-plus'
          }
        ]
      },
      {
        name: 'CommentList',
        el: '.comment-list',
        data: {
          id: '#{topic._id}'
        }
      },
      {
        name: 'CommentForm',
        el: '#comment-form',
        data: {
          id: '#{topic._id}'
        },
        children: [
          {
            name: 'ButtonBase',
            el: '#comment-button',
            id: 'commentButton'
          }
        ]
      }
    ]);