extends ../layout
block content
  div.panel.panel-default
    div.panel-heading
      include ../shared/breadcrumb
    div.panel-body
      if type === 'profile'
        include ../shared/error_alert
        include ../shared/message_alert
      form(role="form", method="POST", action="/settings/profile").form-horizontal
        div.form-group
          label.col-xs-3.col-sm-3.control-label 用户名
          div.col-xs-6.col-sm-6
            p.form-control-static #{currentUser.username}
        div.form-group
          label.col-xs-3.col-sm-3.control-label Email
          div.col-xs-6.col-sm-6
            p.form-control-static #{currentUser.email}
        div.form-group
          label(for="nickname").col-sm-3.control-label 昵称
          div.col-sm-6
            input(type="text",
                  name="nickname",
                  value="#{currentUser.nickname}")#nickname.form-control
        div.form-group
          label(for="website").col-sm-3.control-label 个人网站
          div.col-sm-6
            input(type="text",
                  name="website",
                  value="#{currentUser.website || ''}")#website.form-control
        div.form-group
          label(for="location").col-sm-3.control-label 所在地
          div.col-sm-6
            input(type="text",
                  name="location",
                  value="#{currentUser.location || ''}")#location.form-control
        div.form-group
          label(for="tagline").col-sm-3.control-label 签名
          div.col-sm-6
            input(type="text",
                  name="tagline",
                  value="#{currentUser.tagline || ''}")#tagline.form-control
        div.form-group
          label(for="bio").col-sm-3.control-label 个人简介
          div.col-sm-6
            textarea(name="bio", rows="5")#bio.form-control #{currentUser.bio || ''}
        div.form-group
          label(for="twitter").col-sm-3.control-label Twitter
          div.col-sm-6.input-group
            span.input-group-addon @
            input(type="text",
                  name="twitter",
                  value="#{currentUser.twitter || ''}")#twitter.form-control
        div.form-group
          label(for="github").col-sm-3.control-label GitHub Username
          div.col-sm-6
            input(type="text",
                  name="github",
                  value="#{currentUser.github || ''}")#github.form-control
        div.form-group
          div.col-sm-offset-3.col-sm-6
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            button(type="submit").btn.btn-primary 保存设置
  div#avatar-setting.panel.panel-default
    div.panel-heading
      span 头像
    div.panel-body
      div.form-horizontal
        div.form-group
          label.col-sm-3.control-label 当前头像
          div.col-sm-6.current
            img(src!="#{currentUser.avatar}",
                alt="#{currentUser.nickname}").avatar-80.img-rounded.img-responsive.pull-left
            img(src!="#{currentUser.avatar}",
                alt="#{currentUser.nickname}").avatar-64.img-rounded.img-responsive.pull-left
            img(src!="#{currentUser.avatar}",
                alt="#{currentUser.nickname}").avatar-48.img-rounded.img-responsive.pull-left
      div.row.intro
        span #{site.name} 使用 
          a(href="http://en.wikipedia.org/wiki/Gravatar",
            target="_blank") Gravatar 
          | 提供的头像服务，与你的 Email 关联，如需更换头像请在 
          a(href="http://en.gravatar.com/",
            target="_blank") Gravatar 
          | 注册或登录后更改。
  div#change-password.panel.panel-default
    div.panel-heading
      div.pull-right
        span: small 如果不更改密码，请留空
      span 更改密码
    div.panel-body
      if type === 'changePass'
        include ../shared/error_alert
        include ../shared/message_alert
      form(role="form", method="POST", action="/settings/change_pass").form-horizontal
        div.form-group
          label(for="old-password").col-sm-3.control-label 当前密码
          div.col-sm-6
            input(type="password", name="oldPassword")#old-password.form-control
        div.form-group
          label(for="new-password").col-sm-3.control-label 新密码
          div.col-sm-6
            input(type="password", name="newPassword")#new-password.form-control
        div.form-group
          label(for="new-password2").col-sm-3.control-label 确认新密码
          div.col-sm-6
            input(type="password", name="newPassword2")#new-password2.form-control
        div.form-group
          div.col-sm-offset-3.col-sm-6
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            button(type="submit").btn.btn-primary 更改密码
block sidebar
  include ../sidebar/user_card